
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    margin: 0;
    place-items: center;
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  